<template>
  <app-layout>
   
  </app-layout>
</template>



<script>
import AppLayout from '@/Layouts/AppLayout.vue'
import Welcome from '@/Jetstream/Welcome.vue'

export default{
    name: "EmployedEdit",
    components: {
        AppLayout,
    },
    props: {
        Employed : Object
    }
}
</script>
