<template>
  <app-layout>
      <div class="container">
          <h1 class="mt-5">Lista de empleados</h1>
            <table class="table table-bordered mt-5">
                <tr>
                    <th><i class="fa fa-user"></i> Nombre</th>
                    <th><i class="fa fa-at"></i> Email</th>
                    <th><i class="fa fa-heart"></i> Sexo</th>
                    <th><i class="fa fa-briefcase"></i> Área</th>
                    <th><i class="fa fa-envelope"></i> Boletín</th>
                    <th> Modificar</th>
                    <th> Eliminar</th> 
                </tr>
                <tr v-for="employed in employeds" >
                    <td>{{employed.nombre}}</td>
                    <td>{{employed.email}}</td>
                    <td>{{employed.sexo}}</td>
                    <td>{{employed.area_id}}</td>
                    <td>{{employed.boletin}}</td>
                    <td><i class="fa fa-edit"></i></td>
                    <td><i class="fa fa-trash"></i></td>
                </tr>
            </table>
      </div>
  </app-layout>
</template>



<script>
import AppLayout from '@/Layouts/AppLayout.vue'
import Welcome from '@/Jetstream/Welcome.vue'

export default{
    name: "EmployedsList",
    components: {
        AppLayout,
    },
    props: {
        employeds: Array
    },
}
</script>
