<template>
    <app-layout>
        <div class="container">
          
            <h1 class="mt-5">Crear empleado</h1>
            <form class="mt-5" @submit.prevent="submit">
                <div class="row mb-3">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">Nombre completo *</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" v-model="form.nombre" />
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="inputPassword3" class="col-sm-2 col-form-label">Correo electrónico *</label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control" v-model="form.email" />
                    </div>
                </div>
                <fieldset class="row mb-3">
                    <legend class="col-form-label col-sm-2 pt-0">Sexo *</legend>
                    <div class="col-sm-10">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="sexo" id="gridRadios1" value= "Masculino"
                                v-model="form.sexo" />
                            <label class="form-check-label" for="gridRadios1">
                                Masculino
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="sexo" id="gridRadios2"
                                v-model="form.sexo" value= "Femenino" />
                            <label class="form-check-label" for="gridRadios2">
                                Femenino
                            </label>
                        </div>
                    </div>
                </fieldset>
                <div class="row mb-3">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">Área *</label>
                    <div class="col-sm-10">
                        <select name="" class="form-control" v-model="form.area_id">
                            <option v-for="area in areas"  :value="area.id">{{area.nombre}}</option>
                        </select>
                    </div>
                </div>

                <div class="row mb-3">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">Descripción *</label>
                    <div class="col-sm-10">
                        <textarea v-model="form.descripcion" class="form-control" name="" id="" cols="30"
                            rows="5"></textarea>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-sm-10 offset-sm-2">
                        <div class="form-check">
                            <input v-model="form.boletin" class="form-check-input" type="checkbox" id="gridCheck1">
                            <label class="form-check-label" for="gridCheck1">
                                Deseo recibir boletín informátivo
                            </label>
                        </div>
                    </div>
                </div>

                <div class="row mb-3">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">Roles *</label>
                    <div class="col-sm-10">
                        <div class="form-check" v-for ="rol in roles">
                            <input class="form-check-input" type="checkbox" value="{{rol.id}}" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                {{rol.nombre}}
                            </label>
                        </div>
                    </div>
                </div>



                <button type="submit" class="btn btn-primary mb-3">Guardar </button>
            </form>
        </div>
    </app-layout>
</template>



<script>
    import AppLayout from "@/Layouts/AppLayout.vue";
    import Welcome from "@/Jetstream/Welcome.vue";

    export default {
        name: "EmployedsCreate",
        components: {
            AppLayout,
        },
        props: {
            areas: Array,
            roles: Array
        },
        data() {
            return {
                form: {
                    nombre: null,
                    email: null,
                    sexo: null,
                    area_id: null,
                    boletin: 0,
                    descripcion: null
                }


            }
        },

        methods:{
            submit(){
                this.$inertia.post(this.route('StoreEmpleados'), this.form)
            }
        }
    };
</script>